@import url('https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* font class */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800 */

.anek-gurmukhi {
  font-family: "Anek Gurmukhi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navigation */
/* logo */
.navigation {
    position: relative;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 74px;
    align-items: center;
       z-index: 6;
}

.logo {
    background-image: url("amzon img/Flag India.png");
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 40px;
    border-radius: 10px;
}

/* nav list */

.nav-center ul {
    width: 560px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;

}

a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

/* hero section */
.hero {
    width: 100%;
    height: 500px;
   position: relative;
    margin-top: -70px;
    text-align: center;
    overflow: hidden;
}

.hero img {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
    transition: transform 0.5s ease;
    
}
.hero-content {
    position: relative;
    width: inherit;
    height: inherit;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
}

.hero-content p {
    color: white;
    font-family: "Anta", sans-serif;
    font-size: 24px;
    line-height: 1;
}

h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
}

/* packages */
.packages {
    display: flex;
    padding: 10px;
    padding-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;

}

.box {
    border-radius: 5px;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    box-shadow: -1px 1px 9px black;
    margin: 10px;
     padding: 25px;
     position: relative;
}
 button{
    position: absolute;
    bottom: 40px;
    left: 30%;
    width: 100px;
    height: 30px;
    background: #f8c334;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background: #fcba07;
    box-shadow: 0px 0px 3px 1px black;
}
.box h2{
    color: rgb(78, 184, 226);
}
ul {
    padding: 20px;
    list-style-type: ;
}
ul li{
    margin: 3px;
}
/* about us */
.about-us {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 10px 30px;
    background-color: #eae4e4;
}

.about-us p {
    max-width: 827px;
    line-height: 1.3;
    margin: auto;
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    padding: 15px;
}

.gallery img {
    width: 200px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 3px 3px 5px 4px;
    margin: 15px;
   
}
.gallery img:hover {
     transform: scale(1.2,1.2);
     transition: 0.5s ease;
}
/* queries */
.queries {
    padding: 30px;
}
.que{
    border: 1px solid black;
    padding: 10px;
    max-width:900px; 
    font-size: 14px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.que .ans{
    font-weight: 500;
    padding: 5px;
    display: none;
}
.q span {
    float: right;
}
/* footer */
footer{
    background-color: black;
    padding: 20px;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
    color: white;
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}
.cursor{
    cursor: pointer;
}
.cursor:hover{
    color: rgb(155, 155, 155);
}
.c1 i,.c2 i{
    margin: 5px;
}
@media screen and (max-width: 480px){
    .navigation{
        padding: 5px;
        justify-content: space-around;
    }
    .nav-center ul{
        width:200px;
        font-size: 16px;
    }
    .gallery img{
        width: 135px;
        height: 200px;
    }
    .about-us p{
        font-size: 14px;
    }
}